header{
  margin: auto;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form .input-item{
  padding: 5px;
  margin: 10px 0px 10px 20px;
  border: solid 1px #9e9e9e;
  height: 30px;
}
form .add-item{
  padding: 0px;
  border: 0px solid #9e9e9e;
  height: 40px;
}
form select{
  padding: 5px;
  margin: 10px 20px 10px 20px;
  border: 1px solid #9e9e9e;
  height: 40px;
}
